includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: max

  paths:
    - src

  ignoreErrors:
    - '#Parameter .1 .handler of method Slim.Middleware.ErrorMiddleware::setDefaultErrorHandler.. expects callable..: mixed, .*given#'
